# Адрес и порт olcwave
# Пока ничего не делают
BASE_HOST=0.0.0.0
BASE_PORT=8000

# URL Remnawave панели
RW_API_URL=
# Api токен Remnawave (Создайте в настройках)
RW_API_TOKEN=

# URL OlcRtc Manager панели
OLCRTC_MANAGER_URL=
# Логин и Пароль от OlcRtc Manager
OLCRTC_MANAGER_LOGIN=
OLCRTC_MANAGER_PASSWORD=

# Настройки для конфига
# Пока что настройки глобальные на все подписки
OLCRTC_CARRIER=wbstream
OLCRTC_TRANSPORT=datachannel

# Имя сервера отображаемое в подписке
OLCRTC_SERVER_NAME=my-cool-server
# Tip: если не работает подписка попробуйте поменять на 78.8.8.8:53
OLCRTC_DNS=1.1.1.1:53 