BASE_HOST=0.0.0.0
BASE_PORT=8000

RW_API_URL=
RW_API_TOKEN=

OLCRTC_MANAGER_URL=
OLCRTC_MANAGER_LOGIN=
OLCRTC_MANAGER_PASSWORD=

OLCRTC_CARRIER=wbstream
OLCRTC_TRANSPORT=datachannel
OLCRTC_SERVER_NAME=my-cool-server
OLCRTC_DNS=78.8.8.8:53