{{PANEL_DOMAIN}} {
    handle_path /api/* {
        reverse_proxy api:8000
    }

    handle {
        root * /srv/frontend/dist
        try_files {path} /index.html
        file_server
    }
}


{{SUB_DOMAIN}} {
    handle {
        rewrite * /sub{uri}
        reverse_proxy {{PANEL_DOMAIN}}
    }
}