NAME=moi-krutoi-vpnchik

RW_API_URL=https://CHANGE_WITH_RAMNAWAVE.url
RW_API_TOKEN=

DB_URL=postgresql+asyncpg://USERNAME:PASSWORD@postgres:5432/main

ADMIN_USERNAME=admin
ADMIN_PASSWORD=strong_password_here

JWT_SECRET_KEY=change_me
JWT_EXPIRE_MINUTES=1440

# 100 GB, python3 -c "print(int(input())*(1024**3))"
DEFAULT_TRAFFIC_LIMIT=107374182400
# 60 sec 
TRAFFIC_COLLECT_INTERVAL=60 
