BASE_HOST=127.0.0.1
BASE_PORT=8000

RW_API_URL=
RW_API_TOKEN=

# wbstream, jazz, telemost
OLCRTC_CARRIER="wbstream" 

# Если используете транспорт с доп параметрами то:
# OLCRTC_TRANSPORT="vp8channel<your_params>"
OLCRTC_TRANSPORT="datachannel"  # datachannel, vp8channel, seichannel, videochannel

# Имя сервера отображаемое в клиенте
OLCRTC_SERVER_NAME="my-cool-server"